<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home | Cinema</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body>

<div th:replace="menu :: menu"></div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Logged Out</h1>
        <p class="lead">You are successfully logged out. <a href="/oauth2/authorization/cinema-app">Click here</a> to
            login again.</p>
    </div>

</main>

</body>
</html>