<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Cinema | Cinema</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body>

<div th:replace="menu :: menu(tab='manage')"></div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Hello <span th:text="${name}"></span></h1>
        <p class="lead">This page is protected. You have admin privileges, so you can manage the cinema.</p>
        <img src="/images/cinema.png" class="img-fluid">
    </div>

</main>

</body>
</html>