<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Browse Movies | Cinema</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body>

<div th:replace="menu :: menu(tab='movies')"></div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Hello <span th:text="${name}"></span></h1>
        <p class="lead">This page is protected. You have user privileges, so you can browse the movies.</p>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie</th>
            <th scope="col">Reviews</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.id}">
            </td>
            <td>
                <img th:src="@{${movie.poster}}" th:alt="${movie.title}" th:title="${movie.title}" />
            </td>
            <td>
                <blockquote th:each="review : ${movie.reviews}" class="blockquote">
                    <p th:text="${review.review}" class="mb-2"></p>
                    <footer th:text="${review.authorName}" class="blockquote-footer"></footer>
                </blockquote>
            </td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>